* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.err-msg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #FF5722;
}
.err-msg span {
    font-size: 4em;
    margin-bottom: 1em;
}

.toggled {
  left: -200px!important;
}